.card {
	font-size: 14px;

	.rNo {
		margin: 5px 0;

		div {
			width: 20%;
			@extend .fl;
		}

	}

	table {
		width: 100%;

		.td-name {
			width: 50px;
			text-align: right;
		}

		td {
			padding: 5px 10px;
		}

	}

}