.popup {
	width: 200px;

	ul {
		@extend .clearfix;
	}

	li {
		//display: -webkit-box;
		width: 100px;
		height: 100px;
		color: #fff;
		cursor: pointer;
		font-size: 16px;
		@extend .fl;
		@include transition(all .25s ease-in-out);

		a {
			display: -webkit-box;
			height: 100%;
			-webkit-box-pack: center;
			-webkit-box-align: center;
			color: #fff;
			text-decoration: none;
		}

		&:hover {
			opacity: 0.75;
		}

		&:nth-child(6n+1) {
			background: #FF895B;
		}

		&:nth-child(6n+2) {
			background: #FFAE00;
		}

		&:nth-child(6n+3) {
			background: #78C8E6;
		}

		&:nth-child(6n+4) {
			background: #70D572;
		}

		&:nth-child(6n+5) {
			background: #5E76B3;
		}

		&:nth-child(6n+6) {
			background: #DD4B39;
		}

	}

}