@import 'global';
@import 'mixin';
@import 'var';
@import 'icons';
@import 'g';
@import 'setting';
@import 'font';
@import 'books';
@import 'search';
@import 'date';
@import 'animate';
@import 'options';
@import 'popup';

html,
body {
}

:root {
	background-color: #fff;
	height: 100%;
}

body {
	height: 100%;
	background-color: #ddd;
}

.img-background {
	width: 120%;
	height: 120%;
	position: fixed;
	left: -10%;
	top: -10%;
	z-index: 0;
	-webkit-filter: blur(10px);
	background: url(../stylesheets/images/bg3.jpg) top center;
}

.page {
	position: relative;
	z-index: 1;
}