.image-box {
	text-align: center;
	background-color: #fff;
	min-height: 600px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;

	img {
		max-width: 90%;
	}

}

.image-tools {
	height: 50px;
	background-color: #333;
}