@charset "UTF-8";
/* line 5, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/*
** ========== 宽度 ==========
*/
/* line 5, ../../sass/_width.scss */
.w-p-0 { width: 0%; }

/* line 5, ../../sass/_width.scss */
.w-p-1 { width: 1%; }

/* line 5, ../../sass/_width.scss */
.w-p-2 { width: 2%; }

/* line 5, ../../sass/_width.scss */
.w-p-3 { width: 3%; }

/* line 5, ../../sass/_width.scss */
.w-p-4 { width: 4%; }

/* line 5, ../../sass/_width.scss */
.w-p-5 { width: 5%; }

/* line 5, ../../sass/_width.scss */
.w-p-6 { width: 6%; }

/* line 5, ../../sass/_width.scss */
.w-p-7 { width: 7%; }

/* line 5, ../../sass/_width.scss */
.w-p-8 { width: 8%; }

/* line 5, ../../sass/_width.scss */
.w-p-9 { width: 9%; }

/* line 5, ../../sass/_width.scss */
.w-p-10 { width: 10%; }

/* line 5, ../../sass/_width.scss */
.w-p-11 { width: 11%; }

/* line 5, ../../sass/_width.scss */
.w-p-12 { width: 12%; }

/* line 5, ../../sass/_width.scss */
.w-p-13 { width: 13%; }

/* line 5, ../../sass/_width.scss */
.w-p-14 { width: 14%; }

/* line 5, ../../sass/_width.scss */
.w-p-15 { width: 15%; }

/* line 5, ../../sass/_width.scss */
.w-p-16 { width: 16%; }

/* line 5, ../../sass/_width.scss */
.w-p-17 { width: 17%; }

/* line 5, ../../sass/_width.scss */
.w-p-18 { width: 18%; }

/* line 5, ../../sass/_width.scss */
.w-p-19 { width: 19%; }

/* line 5, ../../sass/_width.scss */
.w-p-20 { width: 20%; }

/* line 5, ../../sass/_width.scss */
.w-p-21 { width: 21%; }

/* line 5, ../../sass/_width.scss */
.w-p-22 { width: 22%; }

/* line 5, ../../sass/_width.scss */
.w-p-23 { width: 23%; }

/* line 5, ../../sass/_width.scss */
.w-p-24 { width: 24%; }

/* line 5, ../../sass/_width.scss */
.w-p-25 { width: 25%; }

/* line 5, ../../sass/_width.scss */
.w-p-26 { width: 26%; }

/* line 5, ../../sass/_width.scss */
.w-p-27 { width: 27%; }

/* line 5, ../../sass/_width.scss */
.w-p-28 { width: 28%; }

/* line 5, ../../sass/_width.scss */
.w-p-29 { width: 29%; }

/* line 5, ../../sass/_width.scss */
.w-p-30 { width: 30%; }

/* line 5, ../../sass/_width.scss */
.w-p-31 { width: 31%; }

/* line 5, ../../sass/_width.scss */
.w-p-32 { width: 32%; }

/* line 5, ../../sass/_width.scss */
.w-p-33 { width: 33%; }

/* line 5, ../../sass/_width.scss */
.w-p-34 { width: 34%; }

/* line 5, ../../sass/_width.scss */
.w-p-35 { width: 35%; }

/* line 5, ../../sass/_width.scss */
.w-p-36 { width: 36%; }

/* line 5, ../../sass/_width.scss */
.w-p-37 { width: 37%; }

/* line 5, ../../sass/_width.scss */
.w-p-38 { width: 38%; }

/* line 5, ../../sass/_width.scss */
.w-p-39 { width: 39%; }

/* line 5, ../../sass/_width.scss */
.w-p-40 { width: 40%; }

/* line 5, ../../sass/_width.scss */
.w-p-41 { width: 41%; }

/* line 5, ../../sass/_width.scss */
.w-p-42 { width: 42%; }

/* line 5, ../../sass/_width.scss */
.w-p-43 { width: 43%; }

/* line 5, ../../sass/_width.scss */
.w-p-44 { width: 44%; }

/* line 5, ../../sass/_width.scss */
.w-p-45 { width: 45%; }

/* line 5, ../../sass/_width.scss */
.w-p-46 { width: 46%; }

/* line 5, ../../sass/_width.scss */
.w-p-47 { width: 47%; }

/* line 5, ../../sass/_width.scss */
.w-p-48 { width: 48%; }

/* line 5, ../../sass/_width.scss */
.w-p-49 { width: 49%; }

/* line 5, ../../sass/_width.scss */
.w-p-50 { width: 50%; }

/* line 5, ../../sass/_width.scss */
.w-p-51 { width: 51%; }

/* line 5, ../../sass/_width.scss */
.w-p-52 { width: 52%; }

/* line 5, ../../sass/_width.scss */
.w-p-53 { width: 53%; }

/* line 5, ../../sass/_width.scss */
.w-p-54 { width: 54%; }

/* line 5, ../../sass/_width.scss */
.w-p-55 { width: 55%; }

/* line 5, ../../sass/_width.scss */
.w-p-56 { width: 56%; }

/* line 5, ../../sass/_width.scss */
.w-p-57 { width: 57%; }

/* line 5, ../../sass/_width.scss */
.w-p-58 { width: 58%; }

/* line 5, ../../sass/_width.scss */
.w-p-59 { width: 59%; }

/* line 5, ../../sass/_width.scss */
.w-p-60 { width: 60%; }

/* line 5, ../../sass/_width.scss */
.w-p-61 { width: 61%; }

/* line 5, ../../sass/_width.scss */
.w-p-62 { width: 62%; }

/* line 5, ../../sass/_width.scss */
.w-p-63 { width: 63%; }

/* line 5, ../../sass/_width.scss */
.w-p-64 { width: 64%; }

/* line 5, ../../sass/_width.scss */
.w-p-65 { width: 65%; }

/* line 5, ../../sass/_width.scss */
.w-p-66 { width: 66%; }

/* line 5, ../../sass/_width.scss */
.w-p-67 { width: 67%; }

/* line 5, ../../sass/_width.scss */
.w-p-68 { width: 68%; }

/* line 5, ../../sass/_width.scss */
.w-p-69 { width: 69%; }

/* line 5, ../../sass/_width.scss */
.w-p-70 { width: 70%; }

/* line 5, ../../sass/_width.scss */
.w-p-71 { width: 71%; }

/* line 5, ../../sass/_width.scss */
.w-p-72 { width: 72%; }

/* line 5, ../../sass/_width.scss */
.w-p-73 { width: 73%; }

/* line 5, ../../sass/_width.scss */
.w-p-74 { width: 74%; }

/* line 5, ../../sass/_width.scss */
.w-p-75 { width: 75%; }

/* line 5, ../../sass/_width.scss */
.w-p-76 { width: 76%; }

/* line 5, ../../sass/_width.scss */
.w-p-77 { width: 77%; }

/* line 5, ../../sass/_width.scss */
.w-p-78 { width: 78%; }

/* line 5, ../../sass/_width.scss */
.w-p-79 { width: 79%; }

/* line 5, ../../sass/_width.scss */
.w-p-80 { width: 80%; }

/* line 5, ../../sass/_width.scss */
.w-p-81 { width: 81%; }

/* line 5, ../../sass/_width.scss */
.w-p-82 { width: 82%; }

/* line 5, ../../sass/_width.scss */
.w-p-83 { width: 83%; }

/* line 5, ../../sass/_width.scss */
.w-p-84 { width: 84%; }

/* line 5, ../../sass/_width.scss */
.w-p-85 { width: 85%; }

/* line 5, ../../sass/_width.scss */
.w-p-86 { width: 86%; }

/* line 5, ../../sass/_width.scss */
.w-p-87 { width: 87%; }

/* line 5, ../../sass/_width.scss */
.w-p-88 { width: 88%; }

/* line 5, ../../sass/_width.scss */
.w-p-89 { width: 89%; }

/* line 5, ../../sass/_width.scss */
.w-p-90 { width: 90%; }

/* line 5, ../../sass/_width.scss */
.w-p-91 { width: 91%; }

/* line 5, ../../sass/_width.scss */
.w-p-92 { width: 92%; }

/* line 5, ../../sass/_width.scss */
.w-p-93 { width: 93%; }

/* line 5, ../../sass/_width.scss */
.w-p-94 { width: 94%; }

/* line 5, ../../sass/_width.scss */
.w-p-95 { width: 95%; }

/* line 5, ../../sass/_width.scss */
.w-p-96 { width: 96%; }

/* line 5, ../../sass/_width.scss */
.w-p-97 { width: 97%; }

/* line 5, ../../sass/_width.scss */
.w-p-98 { width: 98%; }

/* line 5, ../../sass/_width.scss */
.w-p-99 { width: 99%; }

/* line 5, ../../sass/_width.scss */
.w-p-100 { width: 100%; }

/*
** ========== Padding Margin ==========
*/
/* line 5, ../../sass/_margin-padding.scss */
.m-t-0 { margin-top: 0px; }

/* line 6, ../../sass/_margin-padding.scss */
.m-r-0 { margin-right: 0px; }

/* line 7, ../../sass/_margin-padding.scss */
.m-b-0 { margin-bottom: 0px; }

/* line 8, ../../sass/_margin-padding.scss */
.m-l-0 { margin-left: 0px; }

/* line 10, ../../sass/_margin-padding.scss */
.p-t-0 { padding-top: 0px; }

/* line 11, ../../sass/_margin-padding.scss */
.p-r-0 { padding-right: 0px; }

/* line 12, ../../sass/_margin-padding.scss */
.p-b-0 { padding-bottom: 0px; }

/* line 13, ../../sass/_margin-padding.scss */
.p-l-0 { padding-left: 0px; }

/* line 5, ../../sass/_margin-padding.scss */
.m-t-5 { margin-top: 5px; }

/* line 6, ../../sass/_margin-padding.scss */
.m-r-5 { margin-right: 5px; }

/* line 7, ../../sass/_margin-padding.scss */
.m-b-5 { margin-bottom: 5px; }

/* line 8, ../../sass/_margin-padding.scss */
.m-l-5 { margin-left: 5px; }

/* line 10, ../../sass/_margin-padding.scss */
.p-t-5 { padding-top: 5px; }

/* line 11, ../../sass/_margin-padding.scss */
.p-r-5 { padding-right: 5px; }

/* line 12, ../../sass/_margin-padding.scss */
.p-b-5 { padding-bottom: 5px; }

/* line 13, ../../sass/_margin-padding.scss */
.p-l-5 { padding-left: 5px; }

/* line 5, ../../sass/_margin-padding.scss */
.m-t-10 { margin-top: 10px; }

/* line 6, ../../sass/_margin-padding.scss */
.m-r-10 { margin-right: 10px; }

/* line 7, ../../sass/_margin-padding.scss */
.m-b-10 { margin-bottom: 10px; }

/* line 8, ../../sass/_margin-padding.scss */
.m-l-10 { margin-left: 10px; }

/* line 10, ../../sass/_margin-padding.scss */
.p-t-10 { padding-top: 10px; }

/* line 11, ../../sass/_margin-padding.scss */
.p-r-10 { padding-right: 10px; }

/* line 12, ../../sass/_margin-padding.scss */
.p-b-10 { padding-bottom: 10px; }

/* line 13, ../../sass/_margin-padding.scss */
.p-l-10 { padding-left: 10px; }

/* line 5, ../../sass/_margin-padding.scss */
.m-t-15 { margin-top: 15px; }

/* line 6, ../../sass/_margin-padding.scss */
.m-r-15 { margin-right: 15px; }

/* line 7, ../../sass/_margin-padding.scss */
.m-b-15 { margin-bottom: 15px; }

/* line 8, ../../sass/_margin-padding.scss */
.m-l-15 { margin-left: 15px; }

/* line 10, ../../sass/_margin-padding.scss */
.p-t-15 { padding-top: 15px; }

/* line 11, ../../sass/_margin-padding.scss */
.p-r-15 { padding-right: 15px; }

/* line 12, ../../sass/_margin-padding.scss */
.p-b-15 { padding-bottom: 15px; }

/* line 13, ../../sass/_margin-padding.scss */
.p-l-15 { padding-left: 15px; }

/* line 5, ../../sass/_margin-padding.scss */
.m-t-20 { margin-top: 20px; }

/* line 6, ../../sass/_margin-padding.scss */
.m-r-20 { margin-right: 20px; }

/* line 7, ../../sass/_margin-padding.scss */
.m-b-20 { margin-bottom: 20px; }

/* line 8, ../../sass/_margin-padding.scss */
.m-l-20 { margin-left: 20px; }

/* line 10, ../../sass/_margin-padding.scss */
.p-t-20 { padding-top: 20px; }

/* line 11, ../../sass/_margin-padding.scss */
.p-r-20 { padding-right: 20px; }

/* line 12, ../../sass/_margin-padding.scss */
.p-b-20 { padding-bottom: 20px; }

/* line 13, ../../sass/_margin-padding.scss */
.p-l-20 { padding-left: 20px; }

/* line 5, ../../sass/_margin-padding.scss */
.m-t-25 { margin-top: 25px; }

/* line 6, ../../sass/_margin-padding.scss */
.m-r-25 { margin-right: 25px; }

/* line 7, ../../sass/_margin-padding.scss */
.m-b-25 { margin-bottom: 25px; }

/* line 8, ../../sass/_margin-padding.scss */
.m-l-25 { margin-left: 25px; }

/* line 10, ../../sass/_margin-padding.scss */
.p-t-25 { padding-top: 25px; }

/* line 11, ../../sass/_margin-padding.scss */
.p-r-25 { padding-right: 25px; }

/* line 12, ../../sass/_margin-padding.scss */
.p-b-25 { padding-bottom: 25px; }

/* line 13, ../../sass/_margin-padding.scss */
.p-l-25 { padding-left: 25px; }

/* line 1, ../../sass/_button.scss */
.btn, .btn-1, .btn-2 { display: inline-block; border: none; cursor: pointer; border-radius: 3px; border: none; }
/* line 10, ../../sass/_button.scss */
.btn:hover, .btn-1:hover, .btn-2:hover { opacity: 0.7; }

/* line 16, ../../sass/_button.scss */
.btn-1 { background-color: #d9534f; border: 1px solid #d43f3a; }

/* line 21, ../../sass/_button.scss */
.btn-2 { background-color: #286090; border: 1px solid #204d74; }

/* line 26, ../../sass/_button.scss */
.btn-3 { background-color: #449d44; border: 1px solid #398439; }

/* line 31, ../../sass/_button.scss */
.btn-4 { background-color: #ec971f; border: 1px solid #d58512; }

/* line 36, ../../sass/_button.scss */
.btn-5 { background-color: #31b0d5; border: 1px solid #269abc; }

/* line 41, ../../sass/_button.scss */
.btn-1, .btn-2, .btn-3, .btn-4, .btn-5 { padding: 5px 10px; color: #fff; font-size: 14px; }

/* line 4, ../../sass/_layout.scss */
.h1 { font-size: 20px; margin-bottom: 10px; }

/* line 9, ../../sass/_layout.scss */
.h2 { font-size: 18px; }

/* line 13, ../../sass/_layout.scss */
.wrap { width: 80%; margin: 20px auto; padding: 20px; border-radius: 10px; background-color: #fff; }

/* line 9, ../../sass/_global.scss */
:root, body { height: 100%; }

/* line 14, ../../sass/_global.scss */
.transition, .btn, .btn-1, .btn-2 { -webkit-transition: all 0.25s linear; -moz-transition: all 0.25s linear; -ms-transition: all 0.25s linear; -o-transition: all 0.25s linear; transition: all 0.25s linear; }

/*
** ========== 浮动 ==========
*/
/* line 4, ../../sass/_mixin.scss */
.clearfix:before, .wrap:before, .wrap .list:before, .email-url li:before, .clearfix:after, .wrap:after, .wrap .list:after, .email-url li:after { clear: both; content: '.'; display: block; height: 0; line-height: 0; overflow: hidden; }
/* line 12, ../../sass/_mixin.scss */
.clearfix, .wrap, .wrap .list, .email-url li { zoom: 1; }

/* line 25, ../../sass/_global.scss */
.clear { clear: both; height: 0; line-height: 0; overflow: hidden; }

/* line 32, ../../sass/_global.scss */
.fl { float: left; _display: inline; }

/* line 36, ../../sass/_global.scss */
.fr { float: right; _display: inline; }

/* line 40, ../../sass/_global.scss */
.gray { -webkit-filter: grayscale(100%); filter: grayscale(100%); }

/* line 47, ../../sass/_global.scss */
.disabled, .disabled:hover, .disabled:hover *, .disabled * { cursor: default !important; -webkit-transform: scale(1, 1) !important; -moz-transform: scale(1, 1) !important; -ms-transform: scale(1, 1) !important; -o-transform: scale(1, 1) !important; transform: scale(1, 1) !important; }

/*
** ========== 对齐 ==========
*/
/* line 60, ../../sass/_global.scss */
.text-left { text-align: left; }

/* line 64, ../../sass/_global.scss */
.text-right { text-align: right; }

/* line 68, ../../sass/_global.scss */
.text-center { text-align: center; }

/* line 72, ../../sass/_global.scss */
.ell, .email-url a, .email-url .url, .email-url .user-name, .email-url .user-password { -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/* line 76, ../../sass/_global.scss */
.of-x-hidden { overflow-x: hidden; }

/* line 80, ../../sass/_global.scss */
.of-x-auto { overflow-x: auto; }

/* line 84, ../../sass/_global.scss */
.of-y-hidden { overflow-x: hidden; }

/* line 88, ../../sass/_global.scss */
.of-y-auto { overflow-y: auto; }

/* line 92, ../../sass/_global.scss */
.no-resize { resize: none; }

/* line 96, ../../sass/_global.scss */
.inline-block { display: inline-block; *display: inline; *zoom: 1; }

/* line 100, ../../sass/_global.scss */
.user-select, .btn, .btn-1, .btn-2, .select-all-box label { -moz-user-select: none; /* firefox */ -webkit-user-select: none; /* webkit */ -ms-user-select: none; /* IE10 */ -khtml-user-select: none; /* old */ user-select: none; }

/*
** ========== Font ==========
*/
/* line 107, ../../sass/_global.scss */
.fz-px-12 { font-size: 12px; }

/* line 111, ../../sass/_global.scss */
.fz-px-14 { font-size: 14px; }

/* line 115, ../../sass/_global.scss */
.fz-px-16 { font-size: 16px; }

/* line 119, ../../sass/_global.scss */
.fz-px-18 { font-size: 18px; }

/* line 123, ../../sass/_global.scss */
.fz-px-20 { font-size: 20px; }

/* line 127, ../../sass/_global.scss */
input[type=text], input[type=password], input[type=button], input[type=image], button, select, textarea { border: 1px solid #ccc; border-radius: 2px; resize: none; }
/* line 138, ../../sass/_global.scss */
input[type=text]:focus, input[type=password]:focus, input[type=button]:focus, input[type=image]:focus, button:focus, select:focus, textarea:focus { outline: none; }

/* line 5, ../../sass/sds.scss */
html { font-size: 62.5%; }

/* line 9, ../../sass/sds.scss */
input, button, select, a { outline: none; }

/* line 16, ../../sass/sds.scss */
html { width: 640px; height: 480px; overflow-x: hidden; overflow-y: auto; font-size: 12px; }

/* line 24, ../../sass/sds.scss */
body { font-family: Arial; font: 12px/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, "瀹嬩綋", sans-serif; }

/* line 29, ../../sass/sds.scss */
.title { font-size: 14px; color: #fff; background: #242a30; padding: 8px; }

/* line 36, ../../sass/sds.scss */
.border-radius, .btn, .btn-1, .btn-2, .email-url { border-radius: 3px; }

/* line 40, ../../sass/sds.scss */
.btn, .btn-1, .btn-2 { display: inline-block; vertical-align: middle; height: 30px; line-height: 30px; padding: 0 10px; cursor: pointer; }

/* line 51, ../../sass/sds.scss */
.btn-1 { background-color: #2a72b5; color: #fff; }

/* line 57, ../../sass/sds.scss */
.btn-2 { background-color: #eee; color: #333; }

/* line 63, ../../sass/sds.scss */
.wrap { padding: 20px; }
/* line 69, ../../sass/sds.scss */
.wrap .list li { list-style-type: none; float: left; margin-right: 10px; }
/* line 75, ../../sass/sds.scss */
.wrap .list label { display: block; height: 30px; line-height: 30px; }
/* line 83, ../../sass/sds.scss */
.wrap select, .wrap input[type=text] { min-width: 100px; border: 1px solid #aaa; }
/* line 89, ../../sass/sds.scss */
.wrap select, .wrap input[type=text], .wrap button { height: 27px; padding: 0 10px; vertical-align: middle; border-radius: 3px; }
/* line 98, ../../sass/sds.scss */
.wrap button { cursor: pointer; background-color: #2a72b5; color: #fff; border: none; }
/* line 105, ../../sass/sds.scss */
.wrap .select-email { width: 200px; }

/* line 111, ../../sass/sds.scss */
.info { margin: 5px 0; color: red; }

/* line 116, ../../sass/sds.scss */
.email-url { margin: 10px auto; border: 1px solid #ccc; color: #666; height: 300px; overflow-x: hidden; overflow-y: auto; font-size: 12px; }
/* line 126, ../../sass/sds.scss */
.email-url ul, .email-url li { padding: 0; margin: 0; }
/* line 132, ../../sass/sds.scss */
.email-url a { display: inline-block; text-decoration: none; color: #666; max-width: 90%; }
/* line 140, ../../sass/sds.scss */
.email-url input[type=checkbox] { float: right; }
/* line 144, ../../sass/sds.scss */
.email-url a, .email-url input { vertical-align: middle; }
/* line 149, ../../sass/sds.scss */
.email-url li { padding: 8px 10px; }
/* line 153, ../../sass/sds.scss */
.email-url li:nth-child(even) { background-color: #f0f3f5; }
/* line 157, ../../sass/sds.scss */
.email-url li span, .email-url li a { display: inline-block; vertical-align: middle; }
/* line 165, ../../sass/sds.scss */
.email-url .item-name-site, .email-url .item-name-user, .email-url .item-name-password { margin-right: 5px; }
/* line 171, ../../sass/sds.scss */
.email-url .url { width: 200px; }
/* line 176, ../../sass/sds.scss */
.email-url .user-name { width: 150px; }
/* line 181, ../../sass/sds.scss */
.email-url .user-password { width: 80px; }

/* line 188, ../../sass/sds.scss */
.btn-box { margin: 5px; text-align: center; }
/* line 192, ../../sass/sds.scss */
.btn-box .btn-1, .btn-box .btn-2 { margin: 5px; }

/* line 199, ../../sass/sds.scss */
.select-all-box { margin: 5px 0; }
/* line 202, ../../sass/sds.scss */
.select-all-box label { cursor: pointer; font-size: 12px; font-weight: lighter; }
/* line 209, ../../sass/sds.scss */
.select-all-box input[type=checkbox], .select-all-box label { display: inline-block; vertical-align: middle; margin: 0; padding: 0; }
/* line 217, ../../sass/sds.scss */
.select-all-box label { margin-right: 15px; }
/* line 221, ../../sass/sds.scss */
.select-all-box input[type=checkbox] { margin-right: 5px; }

/*# sourceMappingURL=sds.css.map */
